# Copyright (c) 2012 Taylor Hutt, Logic Magicians Software
#
# This program is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# load_configuration <pathname of configuration file declaring this function>
#
define load_configuration
$(call declare_source_component,		\
       hello-world,				\
       Hello World example,			\
       build,					\
       $(1),					\
       $(subst sample.cfg,src,$(1)))

$(call declare_source_component,		\
       goodbye-world,				\
       Goodbye World example,			\
       image,					\
       $(1),					\
       $(subst sample.cfg,src,$(1)),            \
       hello-world)

$(call component_attribute_install_target,hello-world,install)
$(call component_attribute_build_target,hello-world,build)
$(call component_attribute_set_options,hello-world,submake_options)

$(call component_attribute_local_settings,hello-world,hello_settings)
$(call component_attribute_local_settings,goodbye-world,goodbye_settings)

vv:=$(call set,hello_settings,CFLAGS,-o2)
vv:=$(call set,goodbye_settings,VERSION,beta)

endef


# Set up the LMSBW_configuration associative array.
#
vv:=$(call set,LMSBW_configuration,load-configuration-function,load_configuration)
vv:=$(call set,LMSBW_configuration,component-build-support,source)

# Set up global options for all components
#
vv:=$(call set,LMSBW_configuration,global-settings,global_settings)

vv:=$(call set,global_settings,CFLAGS,-MMD)
vv:=$(call set,global_settings,VERSION,1.0.0)
vv:=$(call set,global_settings,PROJECT,settings)
